body{
    margin: 0px;
    overflow-x: hidden;
}
/*#content{
    padding: 10px;
}*/
.container{
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
    padding: 0px;
}
#header{
    position: fixed;
    background-color:#25405D;
    width: 100%;
    z-index: 110;
}

#header h2{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
    color: white;
    background-color: orangered;
    border-radius: 50px 0px;
}
#header .row ul {
    margin-top: 15px;
}
#header ul li{
    list-style: none;
    display: inline;
    padding: 15px;
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
}
#header ul li a{
    color: white;
    font-weight: 700;
}
#header ul li:hover{
    background-color: #6EAC55;
    color: white;
    border-radius: 10px;
}
@media(max-width:767px){
    #header h2{font-size: 30px;}
    #header ul li{font-size: 13px;
    padding: 10px;}
}





#content{}
.banner{
  
    background-image: url(../images/banner_image.jpg);
    width: 100%;
    height: 750px;
    margin-bottom: 40px;
    position: relative;
}
.banner_info{}
.banner .banner_info span{
    color: #6DAC54;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-align: right;
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 40px;
    margin: 10px;
}

.banner p{
    position: absolute;
    top: 50%;
    font-size: 20px;
    color: #d6d1d1;
    margin: 10px;
}
@media(max-width:1024px){
    .banner .banner_info span{
        left: 10%;
    }
}
@media(max-width:996px){
    .banner .banner_info span{
        left: 2%;
        font-size: 30px;
    }
}
@media(max-width:640px){
    .banner .banner_info span{
        padding: 0px;
        left: 0%;
        font-size: 30px;
    }
}




/*
.rw-wrds{display: inline;}
.rw-wrds span{
    top: 40%;
    position: absolute;
    display: inline;
    opacity: 0;
    overflow: hidden;
    animation: rotateword 15s linear infinite 0s;
}
@keyframes rotateword{
    0%{opacity: 0;}
    2%{opacity: 0; transform: translateY(-30px);}
    5%{opacity: 1; transform: translateY(0px);}
    17%{opacity: 1; transform: translateY(0px);}
    20%{opacity: 0; transform: translateY(30px);}
    80%{opacity: 0;}
    100%{opacity: 0;}
}

*/



#section_1{
    margin-bottom: 30px;
}
#section_1 legend{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
#section_1 img{
   width:90%;
    height: 100%;
}
#section_1 p{
    color: black;
}
#section_1 i{
    font-size:50px;
    margin: 5px;
    color: greenyellow;
}
@media(max-width:1024px){
    #section_1 i{
        margin: 3px;
    }
}





#section_2{
    background-color: #91DD4D;
    /*margin-bottom: 30px;*/
    padding:50px;
    
}
#section_2 h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
}
#section_2 span{
    font-size: 60px;
    text-align: center;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 0px 100px;
}
#section_2 span:hover{
    border-style: double;
    border-width: thick;
    box-shadow: 0 0 10px 3px #f44236;
}
@media(max-width:1024px){
    #section_2 span{
        margin: 0px 70px;
    }
}
@media(max-width:993px){
    #section_2 span{
        margin: 0px 50px;
    }
}
@media(max-width:767px){
    #section_2 span,h2{
        text-align: center;
    }
    #section_2 span{
        margin: 0px 40%;
        
    }
}






#section_3 {
    background-color: white;
    margin-top: 20px;
    text-align: center;
    width:100%;
    
}
#section_3 h1
{
    font-weight: bold;
    width: 100%;
}
#section_3 img
{
    width:75%;
}
#section_3 h4
{
    font-weight: bold;
    color: red;
    
}
.sec
{
    width: 100%;
}

 .sec:after
{      content: "";
    position: absolute;
    height: 100%;
         width: 70%;
    left: 8%;  
    
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    overflow: hidden;
    transform: translate(25px,0px);
    transition: 1s;
    
}
.sec:hover:after
{
    opacity: 1;
    overflow: hidden;
    
}
.name
{
    background-color: #91DD4D;
           width: 70%;
    left: 15%;
    position: absolute;
    
}
.name h2
{
    font-size: 23px;
}
.sec:hover .name
{
    text-align: center;
        transform: translateY(-62px);
    z-index: 20;
    transition: 2s;
    background-color: rgba(0,0,0,0.3);
    color: white;
    
}
@media(max-width:1100px)
{
 
     .sec:after
{      content: "";
    position: absolute;
    height: 100%;
        width: 66%;
    left: 7%;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    overflow: hidden;
    transform: translate(25px,0px);
    transition: 1s;
    
}
}
@media(max-width:991px)
{
    .sec
{
    width: 100%;
     margin-top: 13%;
}
 
     .sec:after
{      content: "";
    position: absolute;
   height: 90%;
    width: 67%;
    left: 11%;
    top: 10%;

    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    overflow: hidden;
    transform: translate(25px,0px);
    transition: 1s;
    
}
    .sec:hover .name
{
    text-align: center;
        transform: translateY(-62px);
    z-index: 20;
    transition: 2s;
    background-color: rgba(0,0,0,0.3);
    color: white;
    
}

}
@media(max-width:767px)
{
 
     .sec:after
{      content: "";
    position: absolute;
        height: 89%;
    width: 69%;
    left: 12%;
    top: 11%
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    overflow: hidden;
    transform: translate(25px,0px);
    transition: 1s;
    
}
}
@media(max-width:532px)
{
 
     .sec:after
{      content: "";
    position: absolute;
        height: 90%;
    width: 66%;
    left: 12%;
    top: 10%;-color: rgba(0,0,0,0.5);
    opacity: 0;
    overflow: hidden;
    transform: translate(25px,0px);
    transition: 1s;
    
}
    
}
@media(max-width:400px)
{
 
     .sec:after
{      content: "";
    position: absolute;
        height: 90%;
    width: 66%;
    left: 9%;
    top: 10%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    overflow: hidden;
    transform: translate(25px,0px);
    transition: 1s;
    
}
    
}




#section_4 
{    margin-top: 10%;
    
    height: 40%;
    width: 100%;
    background-image: url(../images/parallax.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
   
    padding: 50px;
}
#section_4 h3{
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 30px;
    color: #D95136;
}
#section_4 ul li{
    list-style: disc;
    list-style-image: url(../images/arrow.png);
}
#section_4 h5 {
    color: white;
    font-size: 20px;
    
}
#section_4 p{
    color: #d6d1d1;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 15px;
}
#section_4 img{
    height: 100%;
    width: 70%;
}
@media(max-width:950px){
    #section_4 img{
    height: 100%;
    width: 90%;
    }
}
@media(max-width:767px){
    #section_4 img{
    height: 100%;
    width: 80%;
    }
}






.carousel-inner>.item {
    padding: 0px 130px;
}

#section_5 h1{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
#section_5 .carousel-caption{
    color: black;
}
/*.carousel-inner>.item>a>img, .carousel-inner>.item>img{
    margin: 134px;
}*/
.carousel-caption{
    text-shadow: none;
}
#section_5 glyphicon-chevron-left,glyphicon-chevron-right{
    border: 0px solid green;
    background-color: green;
}
@media(max-width:1270px){
    #section_5 .carousel-caption{
    padding: 0px 50px;
        
    }
}
@media(max-width:1100px){
    #section_5 .carousel-caption{
    padding: 0px 70px;
        
    }
}
@media(max-width:1020px){
    #section_5 .carousel-caption{
    padding: 0px 50px 10px 90px;
        
    }
}
@media(max-width:916px){
    #section_5 .carousel-caption{
    padding: 0px 10px 10px 100px;
        
    }
}
@media(max-width:868px){
    #section_5 .carousel-caption{
    padding-left: 130px;
    }
}
@media(max-width:770px){
    #section_5{display: none;}
}





#section_6{
    background-color: #FEE1DB;
    margin-top: 50px;
    padding: 20px;
}
#section_6 h1{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}
#section_6 .gallery{
    padding: 0px;
    margin: 1px;
    perspective: 1000px;
    
    /*margin: 1px;*/
  }
#section_6 .gallery img{
    border-radius: 25px;
    height: 100%;
    width: 100%;
   /* padding:10px;*/
    /*z-index: 2;*/
    /*position: relative;*/
    /*transition: 3s;*/
}

#section_6 .gallery_caption{
    border-radius: 25px;
    background-color: brown;
    color: white;
    font-size: 17px;
    text-align: center;
    opacity:0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    transform: rotateY(90deg);
    transform-origin: left;
    transition: 1s;
}
#section_6 .gallery_caption h4{
    font-size: 28px;
    font-style: italic;
    font-weight: 600;
}

#section_6 .gallery:hover img {
        transform: rotateY(-90deg);
/*    transform: rotateY(90deg);*/
   /* perspective: 100;*/
    transform-origin: right;
    transition: 1s;
}
/*#section_6 .gallery_caption:after{
    content: "";
    position: absolute;
    opacity: 0;
    transition: 3s;
    transform: rotateY(-90deg);
    transform-origin: left;
}*/
#section_6 .gallery:hover:after{
 /*opacity: 1; */  
  /*transition: 10s;
    transform: rotateY(-90deg);
    transform-origin: left;  */  
}
#section_6 .gallery:hover .gallery_caption{
 opacity: 1;
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}




#section_7{
    background-color: black;
}
#section_7 h2{
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}
#section_7 input{
    text-align: center;
    width: 90%;
    display: block;
    margin: 10px;
    padding: 5px;
    border-color:red;
}
/*#section_7 input:hover{
    color: burlywood;
}*/
#section_7 #comments{
    width: 90%;
    margin: 10px;
}
#section_7 .btn{
    text-align: center;
    padding: 10px;
    width: 20%;
}